#pages {
    float: left;
    text-align: center;
    margin-left: 46%;
    margin-bottom: 20px;
}

.selected-pages {
    background-color: #9ddeba;
    color: white;
}

#pages div {
    float: left;
    border: solid #55de82 1px;
    width: 2em;
    height: 2em;
    /*background-color: #9ddeba;*/
    color: #55de82;
}

#pages div:hover {
    background-color: #006699;
    color: white;
    cursor: pointer;
}

.page1 {
    background-color: #006699;
    color: white;
}

.pictable td {
    vertical-align: middle;
    text-align: center;
}

.result:hover {
    cursor: pointer;
    margin-top: -1em;
}
.result {
    width: 12em;
    height: 12em;
    margin:auto;
}
